@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 13.3 25.7% 93.1%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 13.3 24.3% 92.7%;
    --popover-foreground: 0 0% 20%;
    --primary: 168.4 42.1% 56.7%;
    --primary-foreground: 0 0% 20%;
    --secondary: 23.5 100% 62.9%;
    --secondary-foreground: 0 0% 20%;
    --muted: 240 5.9% 90%;
    --muted-foreground: 0 0% 20%;
    --accent: 23.5 100% 62.9%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 240 5.9% 90%;
    --ring: 0 0% 20%;
    --radius: 0.5rem;
  }

  :root[data-theme="dark"] {
    --background: 0 0% 0%;
    --foreground: 240 5.9% 90%;
    --card: 0 0% 7.1%;
    --card-foreground: 240 5.9% 90%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 240 5.9% 90%;
    --primary: 168.4 42.1% 56.7%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 10% 3.9%;
    --secondary-foreground: 240 5.9% 90%;
    --muted: 240 10% 3.9%;
    --muted-foreground: 0 0% 69.8%;
    --accent: 23.5 100% 62.9%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 240 5.9% 90%;
    --border: 240 10% 3.9%;
    --input: 240 10% 3.9%;
    --ring: 0 0% 20%;
  }
}
