@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 49% 98%;
    --foreground: 36 59% 4%;
    --muted: 216 29% 92%;
    --muted-foreground: 216 6% 29%;
    --popover: 36 49% 97%;
    --popover-foreground: 36 59% 3%;
    --card: 36 49% 97%;
    --card-foreground: 36 59% 3%;
    --border: 36 4% 90%;
    --input: 36 4% 90%;
    --primary: 36 71% 63%;
    --primary-foreground: 36 71% 3%;
    --secondary: 216 71% 63%;
    --secondary-foreground: 216 71% 3%;
    --accent: 216 71% 63%;
    --accent-foreground: 216 71% 3%;
    --destructive: 14 90% 25%;
    --destructive-foreground: 14 90% 85%;
    --ring: 36 71% 63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 36 51% 1%;
    --foreground: 36 27% 99%;
    --muted: 216 29% 8%;
    --muted-foreground: 216 6% 71%;
    --popover: 36 51% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 36 51% 2%;
    --card-foreground: 0 0% 100%;
    --border: 36 4% 15%;
    --input: 36 4% 15%;
    --primary: 36 71% 63%;
    --primary-foreground: 36 71% 3%;
    --secondary: 216 71% 63%;
    --secondary-foreground: 216 71% 3%;
    --accent: 216 71% 63%;
    --accent-foreground: 216 71% 3%;
    --destructive: 14 90% 60%;
    --destructive-foreground: 14 90% 0%;
    --ring: 36 71% 63%;
  }
}
